---
import Layout from "../layouts/Layout.astro";
import HeaderContact from "../components/HeaderContact.astro";
---

<HeaderContact />
<Layout title="Contacto | Betacode 🚀">
  <section class="bg-white dark:bg-gray-900">
    <div
      class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28"
    >
      <!-- <div class="mr-auto place-self-center lg:col-span-7">
        <h1
          class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white"
        >
          Contacto
        </h1>
        <p
          class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
        >
          ¡Tu opinión es nuestra inspiración! En nuestro equipo, estamos aquí
          para ti en cada paso del camino. ¿Tienes preguntas, ideas o
          simplemente quieres charlar? No dudes en ponerte en contacto con
          nosotros. Estamos esperando ansiosamente tu mensaje para crear juntos
          algo extraordinario. ¡déjanos saber cómo podemos ayudarte hoy mismo!
        </p>
      </div> -->
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
        <script
          type="text/javascript"
          src="https://opnform.com/widgets/iframeResize.min.js"></script>
        <iframe
          style="border:none;width:100%;"
          id="form-contacto-2lwgwr"
          src="https://opnform.com/forms/contacto-2lwgwr"></iframe>
        <script type="text/javascript">
          iFrameResize(
            { log: false, checkOrigin: false },
            "#form-contacto-2lwgwr",
          );
        </script>
      </div>
    </div>
  </section>
</Layout>
