<!-- Header -->
<header class="fixed w-full">
  <nav class="bg-white border-gray-200 py-2.5 dark:bg-gray-900">
    <div
      class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto"
    >
      <a href="/" class="flex items-center">
        <img
          src="../../public/betacode.svg"
          class="h-6 mr-3 sm:h-9"
          alt="Betacode Logo"
        />
      </a>
    </div>
  </nav>
</header>
<!-- End Header -->
