---
import Footer  from '../components/Footer.astro';
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<link rel="canonical" href="https://x.com/betacodeweb" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />   
		<title>{title}</title>

    <!-- Meta SEO -->
    <meta name="title" content="Betacode - Desarrollo, creación de sitios web">
    <meta name="description" content="Fusionamos creatividad y tecnología para construir sitios web y software que no solo destacan visualmente, sino que también impulsan tu negocio hacia el éxito digital, en Barranquilla">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Spanish">
    <meta name="author" content="Betacode_team">

    <!-- Social media share -->
    <meta property="og:title" content="Betacode">
    <meta property="og:site_name" content="Betacode_team">
    <meta property="og:url" content="https://x.com/betacodeweb">
    <meta property="og:description" content="🚀💻 ¿Listo para llevar tu negocio al siguiente nivel digital? En Betacodeweb, fusionamos la creatividad con la tecnología para construir sitios web y software que no solo deslumbran visualmente, sino que también impulsan tu éxito en línea. Desde Barranquilla, ¡estamos aquí para hacer brillar tu presencia digital! 💡✨ #CreatividadTecnológica #ÉxitoDigital #Barranquilla">
    <meta property="og:type" content="">
    <meta property="og:image" content="">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@YairG77" />
    <meta name="twitter:creator" content="@YairG77" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.svg">
    <link rel="icon" type="image/svg+xml" sizes="32x32" href="/favicon.svg">
    <link rel="icon" type="image/svg+xml" sizes="16x16" href="/favicon.svg">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#111827">
    <meta name="theme-color" content="#ffffff">
    <script async defer src="https://buttons.github.io/buttons.js"></script>

	</head>

	<body>
		<slot />
		<Footer />
		<ViewTransitions />
	</body>

</html>

<style is:global>
</style>
